extends layout

block content
  table(border="0", cellpadding="0", cellspacing="0")
    tr
      td
        h2= title
        p Hi 
          strong= user.fullname
          |,
        p To keep you posted, please follow us on official social media:
        ul
          li
            label
              span.bolder [Twitter]:
            span https://twitter.com/contractium
          li
            label 
              span.bolder [Telegram]:
            span https://t.me/contractium
        br
        p Follow our CEO on media: 
          strong Mr. Hung V. Nguyen (Co-founder &amp; CEO)
        ul
          li
            label
              span.bolder [Twitter]:
            span https://twitter.com/contractium_CEO
          li
            label 
              span.bolder [Telegram username]:
            span @Hunghung_Nguyen
        br
        a.btn-darkslateblue(href=user.link, target='_blank') Go to contractium.io